.all-reset {
    all: unset;
}

.intBox1 {
    background-color: white;
    width: 100vw;
    height: 800px;
}

.intBox2 {
    background-color: white;
    width: 100vw;
    height: 900px;
}

.logo {
    width:400px;
    height: auto;
}

.text-center {
    color: black;
    text-align: center;
}

.mirrIntBox1 {
    float: left;
    border: 0;
    background-color: #74b9ff;
    width: 20vw;
    height: 25vw;
    margin: 100px;
}

.intBox1-top {
    position: relative;
    top: 100px;
}

.light-box {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
    -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 3px 0px 0px #f0f2f4; padding: 20px 0;
}

.light-box:hover, .light-box:focus {
    -webkit-box-shadow: 0px 3px 0px 0px #3dc9b3;
    -moz-box-shadow: 0px 3px 0px 0px #3dc9b3;
    box-shadow: 0px 3px 0px 0px #3dc9b3;
}

.box-hover {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.box-hover:hover, .box-hover:focus {
    transform: translate(0, -15px);
    -webkit-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
}